{% extends 'layout.html' %}

{% block content %}
<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title></title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<!--STYLE CSS-->
	<link rel="stylesheet" href="/new/templates/assets/main.css">	
	</head>

	<body class="is-preload landing">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header">
					<h1 id="logo"><a href="https://www.farmarket.com.ve/sitio/" target="_blank">Farmarket</a></h1>
					<nav id="nav">
						<ul>
							<li><a href="#">Home</a></li>
							<li><a href="#">Store</a></li>
							<li><a href="#" class="button primary">Sign Up</a></li>
						</ul>
					</nav>
				</header>

			<!-- Banner -->
				<section id="banner">
					<div class="content">
						<header>
							<h2>FARMARKET STORE</h2>
							<p>PHARMACY AND MUCH MORE...</p>
						</header>
						<span class="image"><img src="/images/banner.jpg" alt="" /></span>
					</div>
				</section>


			<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
						<li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
						<li><a href="#" class="icon solid alt fa-envelope"><span class="label">Email</span></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; All rights reserved.</li><li><a href="#" target="_blank">Samuel Herrera Jaraba</a></li>
					</ul>
				</footer>

		</div>

	</body>
</html>

{%  endblock %}